@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Italic.woff2') format('woff2'),
        url('fonts/Roboto-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.woff2') format('woff2'),
        url('fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
  --magical-merlin: #0091d0;
  --white-frost: #e0e7ef;
  --solar-power: #f6b241;
  --steam-bath: #ccd0d6;
  --grey-web: #636363;

  --sidebar-bottom-margin: 40px;

  --border-radius: 7px;
}

.container {
  display: grid;
  grid-template-columns: minmax(max-content, 1fr) 6fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas:
    "sidebar header"
    "sidebar content";
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.header {
  grid-area: header;
  background-color: white;
  box-shadow: var(--steam-bath) 20px 0px 6px 3px;
  z-index: 1;
  display: grid;
  grid-template-columns: minmax(max-content, 7fr) minmax(max-content, 3fr);
  grid-template-rows: minmax(max-content, 4fr) minmax(max-content, 6fr);
  column-gap: 1rem;
  align-items: center;
  padding: 1rem 3rem;
}

.search {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 1.5rem;
}

button {
  padding: 0;
  border: none;
  background: none;
}

.search button > img {
  height: 2rem;
  width: auto;
}

.search input {
  border-radius: 50px;
  flex-grow: 1;
  border: none;
  background-color: var(--white-frost);
  height: 2rem;
}

.user-notification-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2.5rem;
}

.icon {
  height: 1.5rem;
  width: auto;
}

.profile-picture-small {
  height: 3rem;
}

.large-bold {
  font-size: large;
  font-weight: bold;
}

.user-profile-info {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(2, minmax(max-content, 1fr));
  grid-template-areas:
    "profile-picture hi-there"
    "profile-picture username";
  column-gap: 1rem;
}

.profile-picture-large {
  grid-area: profile-picture;
  height: 4rem;
  justify-self: end;
  align-self: center;
}

#hi-there {
  grid-area: hi-there;
  align-self: end;
}

#user-name-with-tag {
  grid-area: username;
  font-size: x-large;
  font-weight: bold;
  align-self: start;
}

.content-buttons button {
  background-color: var(--magical-merlin);
  color: white;
  border-radius: 30px;
  padding: 0.5rem 1.5rem;
}

.content-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.sidebar {
  grid-area: sidebar;
  background-color: var(--magical-merlin);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 0px 30px;
  box-shadow: var(--steam-bath) 2px 0px 3px 1px;
  z-index: 2;
}

.sidebar li {
  list-style-type: none;
}

.sidebar ul {
  padding: 0px;
}

.brand {
  margin-top: 20px;
  display: flex;
  font-size: xx-large;
  gap: 0.5em;
  margin-bottom: var(--sidebar-bottom-margin);
}

.brand-title {
  font-weight: bold;
}

.brand > img {
  width: 1.5em;
  aspect-ratio: 1 / 1;
}

.primary-nav,
.secondary-nav {
  margin-bottom: var(--sidebar-bottom-margin);
  display: grid;
  grid-template-columns: 1em 1fr;
  align-items: center;
  padding-left: 0.5em;
}

.primary-nav,
.secondary-nav {
  font-size: x-large;
  font-weight: bold;
  column-gap: 1em;
  row-gap: 0.5em;
}

nav a {
  color: white;
  text-decoration: none;
}

.content {
  grid-area: content;
  background-color: var(--white-frost);
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "projects announcements"
    "projects trending";
  padding: 20px;
  gap: 40px;
}

.projects {
  grid-area: projects;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.projects-panel {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 1fr));
  gap: 30px;
  flex-grow: 1;
}

.card {
  background-color: white;
  padding: 30px 20px 30px 30px;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  box-shadow: var(--steam-bath) 2px 3px 3px 1px;
  position: relative;
}

.card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 6px;
  background-color: var(--solar-power);
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.card-content {
  font-size: small;
  color: var(--grey-web);
  flex-grow: 1;
}

.card-icons {
  display: flex;
  height: 1.5rem;
  justify-content: flex-end;
  align-content: flex-end;
  gap: 1rem;
  margin-top: 20px;
}

.content-title {
  font-size: large;
  margin-bottom: 0.5em;
}

.announcements {
  grid-area: announcements;
}

.announcements-content {
  background-color: white;
  padding: 20px 30px;
  border-radius: var(--border-radius);
  box-shadow: var(--steam-bath) 2px 3px 3px 1px;
}

.announcement > p {
  font-size: small;
  color: var(--grey-web);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.announcements-content > hr {
  margin: 10px 0px;
}

.trending {
  grid-area: trending;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.trending-users-container {
  background-color: white;
  padding: 20px;
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 20px;
  column-gap: 10px;
  border-radius: var(--border-radius);
  align-items: center;
  box-shadow: var(--steam-bath) 2px 3px 3px 1px;
}

.trending-user-project {
  font-size: small;
  color: var(--grey-web);
}

.trending-users-container > img {
  border-radius: 50%;
  max-width: 100%;
  height: 3rem;
}

.trending-user {
  justify-self: start;
}
